
.background-parallax1{
  background-image: url('../img/ue1/parallax/parallax1.png');
}
.background-parallax2 {
  background-image: url('../img/ue1/parallax/parallax2.png');
}

#background-light-yellow{
  background-color: rgba(255, 199, 0, 0.22);
}

area{
  cursor: pointer;
}
