.background-parallax1{
    background-image: url('../img/ue13/parallax/Imagem\ 1.png');
  }

.background-parallax2{
    background-image: url('../img/ue13/parallax/Imagem\ 2.png');
  }


#container-fatorial{
    border: 2px solid rgba(0, 194, 255, 1);
    border-radius: 40px;
    text-align: center;
}

#container-fatorial p{
    font-weight: bolder;
    font-size: 2rem;
    padding: 10px;
}